@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html, body{
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
  background-color: #eef0f4;
}

.header{
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.h_top{
  height: 36px;
  background-color: #eee;
}
.gnb{
  height: 100%;
  display: flex;
  justify-content: end;
  margin-right: 15px;
  font-size: 13px;
}
.gnb>li{
  /* before 요소랑 세로 나란히 정렬하려고 flex */
  display: flex;
  align-items: center;
  /* lang_list absolute용 */
  position: relative;
  height: 36px;
}
.gnb>li>a{
  padding: 0 10px;
}
.gnb>li:nth-child(1)~li::before{
  content: "";
  height: 10px;
  border-left: 1px solid #999;
}
.lang_btn{
  font-size: 12px;
  color: #333;
  padding: 0 15px;
}
.lang_btn::after{
  content: "▼";
  color: #999;
  padding: 0 3px;
  font-size: 10px;
}
.lang_list{
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  top: 36px;
  width: 100px;
  text-align: center;
  line-height: 30px;
  display: none;
  /* hicon2 위치보다 높게하기위해서 */
  z-index: 2;
}
.lang_list>li>a{
  display: block;
}
.lang_list>li:nth-child(1)~li{
  border-top: 1px solid #ddd;
}
.gnb>li:hover .lang_list{
  display: block;
}


.h_bottom{
  height: 70px;
  position: relative;
}
/* logo, h_icons 는 반응형때도 크기 그대로이니 absolute로 만듦 */
.logo{
  position: absolute;
  left: 20px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.menu{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 220px;
  max-width: 1280px;
  margin: 0 auto;
}
.menu>li{
  flex: 1;
  display: flex;
  align-items: center;
  /* submenu absolute용 */
  position: relative;
}
.menu>li>a{
  text-align: center;
  display: block;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  line-height: 70px;
}
.menu>li:nth-child(1)~li::before{
  content: "";
  height: 20px;
  border-left: 1px solid #999;
}
.submenu{
  position: absolute;
  top: 70px;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  background-color: #3c4755;
  color: #fff;
  width: 100%;
  height: 330px;
  padding: 20px 0;
  z-index: 2;
}
.submenu>li>a{
  display: block;
  padding-left: 15px;
}
.menu>li:hover .submenu{
  background-color: #f8fcff;
  color: #333;
  font-weight: 400;
  border-top: 6px solid mediumturquoise;
  top: 65px;
}
.submenu>li>a:hover{
  background-color: #154283;
  color: #fff;
}

.h_icons{
  position: absolute;
  right: 20px;
  top: 0;
  height: 100%;;
  display: flex;
  align-items: center;
}
.h_icons>li:nth-child(1){
  background-color: #154283;
  color: #fff;
}
.h_icons>li:nth-child(1)>a{
  display: block;
  padding: 5px 10px;
}
.h_icons>li{
  margin-left: 10px;
}
.sub_bg{
  /* submenu의 높이와 동일하게 설정 */
  height: 372px;
  width: 100%;
  background-color: #3c4755;
  position: absolute;
  z-index: 1;
}
.sub_bg_wrap{
  background: url(../imgs/sub_bg.png) no-repeat left bottom;
  width: 100%;
  max-width: 1780px;
  margin: 0 auto;
  height: 100%;
}
.sub_bg_title{
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
  padding: 20px 10px;
}


/* header 미디어쿼리 */
@media all and (max-width: 1023px){
  .menu, .h_icons{
    display: none;
  }
  .h_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    position: static;
    margin-left: 15px;
  }
  .m_btn{
    margin-right: 15px;
    background: none;
  }

  /* m_nav 부분 */
  .m_nav{
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
    top: 0;
  }
  .m_nav_bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .m_menu_wrap{
    width: 310px;
    background-color: #fff;
    height: 100%;
    position: absolute;
    right: -310px;
    top: 0;
  }
  .m_gnb{
    background-color: #20528c;
    color: #fff;
    display: flex;
    height: 60px;
    align-items: center;
  }
  .m_gnb>li{
    margin-left: 15px;
    font-size: 13px;
    position: relative;
    display: flex;
    align-items: center;
    height: 25px;
  }
  .m_gnb>li:last-child::before{
    content: "";
    height: 10px;
    border-left: 1px solid #fff;
  }
  .m_gnb>li:nth-child(2){
    margin-left: 25px;
  }
  .m_gnb>li:hover .lang_list{
    display: block;
    color: #333;
    top: 25px;
  }
  .m_gnb .lang_btn{
    background: none;
    color: #fff;
  }
  .m_gnb .lang_btn::after{
    color: #fff;
  }
  .m_close{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  .m_close>span{
    width: 70%;
    border-top: 1px solid #fff;
    position: absolute;
    transform-origin: center center;
  }
  .m_close>span:nth-child(1){
    transform: rotate(45deg);
  }
  .m_close>span:nth-child(2){
    transform: rotate(-45deg);
  }

  /* m_menu 부분 */
  .m_menu{
    overflow: auto;
    height: 100%;
  }
  .m_menu>li>a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    line-height: 55px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #ccc8;
  }
  .m_menu>li>a::after{
    content: "";
    border: 1px solid #fff;
    width: 15px;
    margin-right: 20px;
  }
  .m_submenu{
    background-color: #eee;
    color: #333;
  }
  .m_submenu a{
    display: block;
    padding-left: 20px;
    line-height: 55px;
    font-size: 15px;
    font-weight: 300;
    border-bottom: 1px solid #ddd7;
  }
  .active{
    background-color: #154283;
    color: #fff;
  }
}
@media all and (max-width: 767px){
  .h_bottom{
    height: 60px;
  }
  .logo img{
    height: 36px;
  }
}
@media all and (min-width: 1024px){
  .mobile{
    display: none;
  }
}



/* main slide */
/* 다른곳에서도 slide 쓸 예정이니 .main 계속 작성 */
.main{
  width: 100%;
  display: flex;
  justify-content: center;
}
.main .swiper{
  max-width: 1240px;
}
.main .swiper-slide img{
  width: 100%;
  height: 100%;
  display: block;
}
.main_prev, .main_next{
  position: absolute;
  z-index: 3;
  top: 45%;
  cursor: pointer;
}
.main_prev{
  left: 0;
}
.main_next{
  right: 0;
}
/* slide pagination css */
.main .swiper-pagination{
  bottom: auto;
  top: 15%;
  width: 150px;
  text-align: left;
  left: 60%;
  display: flex;
}
.main .swiper-pagination-bullet{
  background: none;
  opacity: 1;
  /* border-radius: 0%; */
  display: flex;
  width: auto;
  align-items: center;
  margin: 0 !important;
}
/* pagenation 의 선 부분 */
.main .swiper-pagination-bullet::before{
  content: "";
  display: block;
  width: 30px;
  border-top: 1px solid #fff;
}
.main .swiper-pagination-bullet:nth-child(1)::before{
  width: 0;
}
/* pagenation 네모 부분 */
.main .swiper-pagination-bullet::after{
  content: "";
  width: 8px;
  height: 8px;
  background-color: #fff;
}
.main .swiper-pagination-bullet-active::after{
  content: "";
  border: 3px solid #fff;
  background: none;
}
/* 재생/일시정지 부분 */
.main_ctrls{
  position: absolute;
  top: 14%;
  right: 27%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.main_pause, .main_play{
  position: absolute;
  width: 100%;
  height: 100%;
}
.main_play{
  display: none;
}

@media all and (max-width: 767px){
  .main .swiper{
    padding-bottom: 40px; /* 아래로 공간 넓히기 */
  }
  .main .swiper-pagination{
    top: auto;
    bottom: 10px;
    width: 100%;
    justify-content: center;
    left: 0;
  }
  .main .swiper-pagination-bullet::after{
    background-color: #000;;
  }
  .main .swiper-pagination-bullet::before{
    width: 20px;
    border-color: #000;
  }
  .main .swiper-pagination-bullet-active::after{
    border: 3px solid #000;
    background: none;
  }
  .main_ctrls{
    top: auto;
    bottom: 5px;
    left: 170px;
    right: 0; 
    margin: auto;
    
  }
}


/* section */
.contents{
  padding: 30px 0;
}
.con1{
  max-width: 1240px;
  display: flex;
  margin: 0 auto;
}
.con1>li{
  width: 25%;
  height: 70px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;;
}
.con1>li>a{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con1>li:nth-child(1)~li{
  border-left: 1px solid #ddd;
}
.con1>li>a>span{
  font-weight: 500;
  font-size: 17px;
  margin: 0 10px;
}
.con1>li>a>img:nth-child(1){
  width: 40px;
}
.con1>li>a>img:nth-child(2){
  margin: 0 10px;
}
.con1>li>a:hover img:nth-child(1){
  transform: rotateY(360deg);
  transition: all 0.5s;
}

.con2{
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px auto;
}
.con2box{
  width: 32%;
  height: 265px;
  background-color: #fff;
  margin: 10px 0;
  box-sizing: border-box;
}

.box1 .swiper{
  width: 100%;
  height: 100%;
}
.box1 .swiper-slide img{
  width: 100%;
  height: 100%;
}
.box1_ctrls{
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
}
.box1_ctrls>p{
  font-size: 18px;
  font-weight: 300;
}
.btns{
  display: flex;
}
.btns>li{
  position: relative; /* pause, play absolute 용 */
  margin-left: 20px;
  width: 15px;
  height: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* box1 pagination 모양 */
.btns>li:nth-child(1){
  width: 50px;
  font-weight: 300;
}
.box1 .swiper-pagination{
  /* 원래설정된 absolute 변경 */
  position: static;
}
.swiper-pagination-current{
  text-decoration: underline;
}
.box1_pause, .box1_play{
  position: absolute;
}
.box1_play{
  display: none;
}

.box2{
  padding: 15px 25px;
  background: url(../imgs/box2_icon.png) no-repeat 95% 20px #fff;
  font-size: 13px;
}
.box2_title{
  margin-bottom: 25px;
}
.box2_title>p:nth-child(1){
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.box2_title>p:nth-child(2){
  font-weight: 500;
}
.box2 .timebox{
  display: flex;
  margin-bottom: 5px;
}
.box2 .timebox>div:nth-child(1){
  width: 38px;
  height: 38px;
  font-size: 11px;
  font-weight: 900;
  color: #154283;
  border: 1px solid #154283;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 98%;
  margin-right: 15px;
}
.box2 .timebox>div:nth-child(2)>p:nth-child(1){
  font-weight: 500;
  margin-bottom: 3px;
}
.box2 .timebox>div:nth-child(2)>p:nth-child(2){
  font-weight: 300;
  line-height: 99%;
}

.box3{
  padding: 5px 30px;
}
.box3_quick{
  padding: 20px 0;
}
.box3_quick:nth-child(1){
  border-bottom: 1px solid #ddd;
}
.box3_quick>p{
  font-size: 20px;
  font-weight: 500;
  color: #154283;
  margin-bottom: 15px;
}
.box3_quick>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 300;
}
.box3_quick>div>a{
  padding: 10px 15px;
  border: 1px solid #aaa;
}
.box3_quick>div>a img{
  transition: all 0.5s;
}
.box3_quick>div>a:hover img{
  transform: translateX(10px);
}

.box4{
  padding: 35px;
  background: url(../imgs/box4_bg.gif) no-repeat right bottom #fff;
  background-size: 141px 246px;
}
.box4>p:nth-child(1){
  color: #82828D;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}
.box4>p:nth-child(2){
  font-size: 19px;
  margin-bottom: -5px;
}
.box4>p:nth-child(3){
  font-size: 20px;
  font-weight: 600;
  color: #385ca8;
  margin-bottom: 20px;
}
.box4_list{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.box4_list>li{
  margin-bottom: 13px;
}
.box4_list>li:nth-child(1){
  width: 100%;
}
.box4_list>li>a{
  display: flex;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 450;
}
/* before 로 background 넣기 */
.box4_list>li>a::before{
  content: "";
  width: 20px;
  height: 20px;
  background: url(../imgs/box4_icon.png);
  margin-right: 5px;
}
.box4_list>li:nth-child(2)>a::before{
  background: url(../imgs/box4_icon2.png);
}
.box4_list>li:nth-child(3)>a::before{
  background: url(../imgs/box4_icon3.png);
}
.box4_list>li:nth-child(4)>a::before{
  background: url(../imgs/box4_icon4.png);
}
.box4_list>li:nth-child(5)>a::before{
  background: url(../imgs/box4_icon5.png);
}
.box4_list>li>a:hover{
  color: #385ca8;
}


.box5{
  padding: 35px;
}
.tab_title{
  display: flex;
  position: relative;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.tab_title>li{
  cursor: pointer;
  font-size: 19px;
  font-weight: 600;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.tab_title>li:nth-child(2)::before{
  content: "■";
  color: #aaa;
  font-size: 5px;
  margin-right: 10px;
}
.tab_title>li:nth-child(3){
  /* classname : more */
  position: absolute;
  right: 0;
  margin-right: 0;
  font-size: 22px;
}
.more>a{
  display: block;
}
.tab_active{
  color: #154283;
  position: relative;
}
.tab_active::after{
  content: "▲";
  position: absolute;
  top: 25px;
  font-size: 12px;
  left: 40%;
}
.tab_box{
  margin-top: 15px;
}
.notice{
  font-size: 13px;
  font-weight: 300;
}
.notice>li{
  display: flex;
  justify-content: space-between;
  line-height: 200%;
}
.notice>li>a{
  display: block;
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box6{
  padding: 35px;
  display: flex;
  justify-content: space-between;
}
.box_txt>p:nth-child(1){
  font-size: 20px;
  font-weight: 500;
  color: #154283;
  margin-bottom: 10px;
}
.box_txt>p:nth-child(2){
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
}
.box6_list>li{
  font-size: 15px;
  font-weight: 300;
  border: 1px solid #aaa;
  margin-bottom: 10px;
}
.box6_list>li>a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
}
.box6_list>li>a>img{
  margin-left: 10px;
}



@media all and (max-width: 1670px){
  .con1{
    max-width: 100%;;
  }
  .con2{max-width: 95%;}
}
@media all and (max-width: 1120px){
  .con1>li img:nth-child(1){
    display: none;
  }
  .con2box{
    width: 49%;
  }
}
@media all and (max-width: 920px){
  .con1{
    flex-wrap: wrap;
  }
  .con1>li{
    width: 50%;
    box-sizing: border-box;
  }
}
@media all and (max-width: 767px){
  .main{
    max-width: 95%;
    margin: 0 auto;
  }
  .main_prev, .main_next{
    top: 60%;
  }
  .main_prev>img, .main_next>img{
    width: 40px;
  }
  .con1{
    max-width: 95%;
  }
  .con1>li:nth-child(3){
    border-left: 0px !important;
  }
  .con1>li>a{
    flex-direction: column;
  }
  .con1>li>a>span{
    font-size: 13px;
    font-weight: 400;
  }
  .con1>li>a>img:nth-child(2){
    height: 20px;
  }
  .con1>li>a>img:last-child{
    height: 23px;
  }
  .con2box{
    /* con2가 1670px에서 95% 돼서 그 자식은 100%으로 */
    width: 100%;
  }
} 



/* footer */
.footer{
  background-color: #3d3d3d;
  color: #fff;
  padding: 10px 0;
}
.f_top{
  width: 95%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
}
.f_menu{
  display: flex;
}
.f_menu>li{
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.f_menu>li>a{
  padding: 7px 15px;
}
.f_menu>li:nth-child(1)>a{
  background-color: #154283;
}
.f_menu>li:nth-child(3)>a{
  color: #fdcc34;
}
.f_menu>li:nth-child(2)~li::before{
  content: "";
  border-left: 1px solid #ddd;
  height: 15px;
}

.f_family{
  display: flex;
}
.f_family>li{
  position: relative;
  margin-left: 10px;
}
.f_family>li>button{
  width: 150px;
  text-align: left;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_family>li>button::after{
  content: "▲";
  color: #666;
  font-size: 8px;
}

.family_list{
  position: absolute;
  display: none;
}


.f_bottom{
  width: 95%;
  max-width: 1240px;
  margin: 0 auto;
}